.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    margin: 10px auto;
    background-color: aliceblue;
    width: 60%;
    border-radius: 8px;
}
.logo {
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
}
.logo img{
    width: 180px;
}
.profile{
    width: 50px;
    margin-right: 20px;
    border:2px solid aliceblue;
    border-radius: 50%;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a{
    margin: 0 5px;
}
.nav-links p {
    color: rgb(85, 96, 128);
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 10px 7px;
        margin: 0px auto;
        width: 100%;
        border-radius:0px;
    }
    .logo {
        margin-left: 5px;
    }
    .logo img{
        width: 152px;
    }
    .profile{
        width: 40px;
        margin-right: 5px;
    }
    .nav-links p {
        font-size: 12px;
    }
    
}