<div class="box">
    <form id="myForm">
        <h4 id="firstheading">Personal Details</h4>
        <!-- <label for="firstName">Name:</label> -->
        <!-- <div class="name-fields">
            <input type="text" id="firstName" name="firstName" required placeholder="First name">
            <input type="text" id="lastName" name="lastName" required placeholder="Last name">
        </div> -->

        <div class="names">
            <div class="name">
                <!-- <label for="time">Time:</label> -->
                <input type="text" id="firstname" name="firstname" required placeholder="First Name">
            </div>
            <div class="name">
                <!-- <label for="mark">Marks:</label> -->
                <input type="text" id="lastname" name="lastname" required placeholder="Last Name">
            </div>
        </div>

        <!-- <label for="email">Email:</label> -->
        <div class="roll-exams">
            <div class="roll-exam">
                <!-- <label for="rollNumber">Roll Number:</label> -->
                <input type="text" id="email" name="email" required placeholder="abc@gmail.com">
            </div>
            <div class="roll-exam">
                <!-- <label for="examName">Exam Name:</label> -->
                <input type="text" id="MobileNo" name="MobileNo" required placeholder="Mobile No.">
            </div>
        </div>

        <!-- <label for="phone">Phone Number:</label> -->

        <!-- <label for="address">Address:</label> -->
        <textarea id="address" name="address" rows="1" required placeholder="Enter Your Address"></textarea>


        <h4 id="secondheading">Paper Details</h4>
        <!-- <label for="heading">Paper heading:</label> -->
        <input type="text" id="heading" name="heading" required placeholder="School name">

        <div class="roll-exams">
            <div class="roll-exam">
                <!-- <label for="rollNumber">Roll Number:</label> -->
                <select name="" id="">
                    <option value="">Upper Left</option>
                    <option value="">Upper Right</option>
                </select>
                <!-- <input type="text" id="rollNumber" name="rollNumber" required placeholder="roll number"> -->
            </div>
            <div class="roll-exam">
                <!-- <label for="examName">Exam Name:</label> -->
                <input type="text" id="examName" name="examName" required placeholder="Enter exam name">
            </div>
        </div>

        <div class="class-subjects">
            <div class="class-subject">
                <!-- <label for="class">Class:</label> -->
                <input type="text" id="class" name="class" required placeholder="Your class">
            </div>
            <div class="class-subject">
                <!-- <label for="subject">Subject:</label> -->
                <input type="text" id="subject" name="subject" required placeholder="Enter subject">
            </div>
        </div>

        <div class="time-marks">
            <div class="time-mark">
                <!-- <label for="time">Time:</label> -->
                <input type="text" id="time" name="time" required placeholder="Duration">
            </div>
            <div class="time-mark">
                <select name="" id="">
                    <option value="">Upper Left</option>
                    <option value="">Upper Right</option>
                </select>
                <!-- <label for="mark">Marks:</label> -->
                <!-- <input type="text" id="mark" name="mark" required placeholder="100"> -->
            </div>
        </div>
        <div class="time-marks">
            <div class="time-mark">
                <!-- <label for="time">Time:</label> -->
                <input type="text" id="time" name="time" required placeholder="Duration">
            </div>
            <div class="time-mark">
                <!-- <input type="text" id="mark" name="mark" required placeholder="100"> -->
                <select name="" id="">
                    <option value="">Upper Left</option>
                    <option value="">Upper Right</option>
                </select>
            </div>
        </div>
        <!-- <label for="examinstruction">Exam Instructions:</label> -->
        <textarea id="examinstruction" name="examinstruction" rows="6" required
            placeholder="Exam Instruction"></textarea>

        <input type="submit" value="Submit" id="submitbtn">
    </form>
</div>