{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'style.css' %}">
<title>Landing Page</title>
</head>
<body>

    <nav>
        <div class="logo">
            <h1>PaperBuilder</h1>
        </div>
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="menu-div" id="menu-div">
            <ul class="menu">
                <li>About</li>
                <li>Price</li>
                <li>Service</li>
            </ul>
            <ul class="login-btn">
                {% if user|length != 0  %}     
                <div class="d-flex flex-row ">{{ user|upper }}
                <a href="{% url 'logout'%}">Logout</a></div>
                {% else %}
                <li><a href="{% url 'user-login'%}">Login</a></li>
                <li><a href="{% url 'user-register'%}">Signup</a></li>
                {% endif %}
              
            </ul>
        </div>
    </nav>
    <header >
        <h1 class="main-description">Introducing Our New Exam Paper Creation Tool for Enhanced Experience.</h1>
        <p class="main-description-p">Welcome to <span class="underline">PaperBuilder</span> the future of exam paper creation. We offer an innovative interface that transforms the way educators, schools, and institutions prepare assessments. With an extensive question database covering classes 6 to 12 and various subjects, our platform is your one-stop solution for creating customized exam papers.</p>
        <div >
            {% if user|length != 0  %}
            <a href="{% url 'tool' %}" class="create-now">Create now</a>
            {% else %}
            <button onclick="openForm()" class="start-btn">Login</button>
            {% endif %}
        </div>
    </header>
    <!-- <header>
        <nav class="top-nav">
            <div class="logo">
                <img src="{% static 'Padaku_small.png' %}" alt="Logo">
            </div>
            <div class="login-signup">
                {% if user|length != 0  %}     
                <div class="d-flex flex-row"><p class="my-auto text-success username m-lg-2"> Welcome, {{ user }}</p>
                <a href="{% url 'logout'%}">Logout</a></div>
                {% else %}
                <a href="{% url 'user-login'%}">Login</a>
                <a href="{% url 'user-register'%}">Signup</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <section class="main-section">
        <div class="center-heading">
            
                <h1 class="first-heading">Paper Creation Tool</h1> 
                <h1 class="heading"><span id="headmove"></span>|</h1>
            
                <ul>  
                    <li><i class="fa fa-check" aria-hidden="true" style="color: #147920;"></i>  Create beautiful papers effortlessly.</li>
                    <li><i class="fa fa-check" aria-hidden="true" style="color: #147920;"></i>  Different Varieties of formats available.</li>
                    <li><i class="fa fa-check" aria-hidden="true" style="color: #147920;"></i>  Various types of questions like MCQ,Fill Up,Theory etc.</li>
                    <li><i class="fa fa-check" aria-hidden="true" style="color: #147920;"></i>  Question of image content also available.</li>
                    <li><i class="fa fa-check" aria-hidden="true" style="color: #147920;"></i>  Material cover wide range of ncerts book questions.</li>
                </ul>
            
        </div>

        {% if user|length != 0  %}
        <a href="{% url 'tool' %}" class="start-btn">Enter Tool</a>
        {% else %}
        <button onclick="openForm()" class="start-btn">Login</button>
        {% endif %}
        
    </section> -->
    
    <div id="popupForm" class="overlay">
        <div class="popup-form">
            <span class="close-button" onclick="closeForm()">&times;</span>
            <form method="POST" id="loginForm">
                {% csrf_token %}
                <div id="formMessage" class="form-message"></div>
                <label for="toolId">Email ID:</label>
                <input type="text" id="toolId" name="toolId">
                <label for="toolPassword">Password:</label>
                <input type="password" id="toolPassword" name="toolPassword">
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <section class="service">
        <h1 class="text-center">Access Our Services More Easily</h1>
    </section>

    <section class="feature">
        <div class="feature-main">
            <div class="feature-left">
                <div class="description-container">
                <h1 class="text-left">Revolutionizing Exam Paper Creation for Educators</h1>
                <ul>  
                    <li>  Effortless Drag-and-Drop Functionality.</li>
                    <li>  Unparalleled Question Variety Accommodation.</li>
                    <li>  Streamlined Download and Print Process.</li>
                    <li>  Chapter-wise Question Selection.</li>
                    <li>  Effortless Filtering for Ultimate Flexibility.</li>
                    <li>  Holistic Question Database from Class 6 to Class 12.</li>
                </ul>
            </div>
            </div>
            <div class="feature-right">
                <div class="feature-card-row1">
                    <div class="feature-card">
                        <img src="{% static 'drag-and-drop (1).png' %}" alt="">
                        <h4 class="text-center">Intuitive Drag-and-Drop Interface</h4>
                        <p>Our user-friendly drag-and-drop interface allows you to arrange questions effortlessly, move items between sections, and experiment with question types.</p>
                    </div>
                    <div class="feature-card">
                        <img src="{% static 'save-file.png' %}" alt="">
                        <h4 class="text-center">Effortless Saving and Downloading</h4>
                        <p >Save your work-in-progress, preview your exam paper's layout, and with a simple click, download a professionally formatted PDF version ready for distribution.</p>
                    </div>
                </div>
                <div class="feature-card-row2">
                    <div class="feature-card">
                        <img src="{% static 'filter.png' %}" alt="">
                        <h4 class="text-center">Flexible Filtering Options</h4>
                        <p>Our flexible filtering system empowers you to tailor your assessments to your curriculum objectives, providing the ultimate flexibility in question selection.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

 
    <section class="curriculum">
        <div class="curriculum-heading">
            <p class="discover">Discover the Joy of Creating Exam Papers</p>
        </div>
        <div class="curriculum-main">
            <div class="curriculum-left">
                <div class="curriculum-description">
                <h1 class="text-left">Login & Experience Free Credits</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur consequatur fuga veritatis, at suscipit repudiandae sit tenetur dicta tempore, repellat explicabo eveniet ullam quod sint corporis magnam molestias, ratione ducimus?</p>
                </div>
            </div>
            <div class="curriculum-right">
                <img src="{% static 'step1.jpg' %}" alt="">
            </div>
        </div>
        <div class="curriculum-main cmr">
            <div class="curriculum-right">
                <img src="{% static 'step2.jpg' %}" alt="">
            </div>
            <div class="curriculum-left">
                <div class="curriculum-description">
                <h1 class="text-left">Fill Class & Subject</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur consequatur fuga veritatis, at suscipit repudiandae sit tenetur dicta tempore, repellat explicabo eveniet ullam quod sint corporis magnam molestias, ratione ducimus?</p>
                </div>
            </div>
        </div>
        <div class="curriculum-main">
            <div class="curriculum-left">
                <div class="curriculum-description">
                <h1 class="text-left">Add Chapters from different books</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur consequatur fuga veritatis, at suscipit repudiandae sit tenetur dicta tempore, repellat explicabo eveniet ullam quod sint corporis magnam molestias, ratione ducimus?</p>
                </div>
            </div>
            <div class="curriculum-right">
                <img src="{% static 'creation_process.jpg' %}" alt="">
            </div>
        </div>
        <div class="curriculum-main cmr">
            <div class="curriculum-right">
                <img src="{% static 'f3 (2).jpg' %}" alt="">
            </div>
            <div class="curriculum-left">
                <div class="curriculum-description">
                <h1 class="text-left">Time to make a paper</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur consequatur fuga veritatis, at suscipit repudiandae sit tenetur dicta tempore, repellat explicabo eveniet ullam quod sint corporis magnam molestias, ratione ducimus?</p>
                </div>
            </div>
        </div>
        <div class="curriculum-main">
            <div class="curriculum-left">
                <div class="curriculum-description">
                <h1 class="text-left">Save & Download Paper with Solutions</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur consequatur fuga veritatis, at suscipit repudiandae sit tenetur dicta tempore, repellat explicabo eveniet ullam quod sint corporis magnam molestias, ratione ducimus?</p>
                </div>
            </div>
            <div class="curriculum-right">
                <img src="{% static 'save&download.jpg' %}" alt="">
            </div>
        </div>
        
    </section>
    <section class="customer m-5">
        <div class="text-center">
            <p class="customer-ct">12k+ Happy Customers</p>
            <h1>Users Love</h1>
        </div>
    </section>

    <div class="review-container">
        <div class="row-review row1">
            <div class="customer-card">
                <div class="customer-info">
                    <h3>Smitha Rathore</h3>
                    <p>Excellent service! PaperBilder helped me create top-quality exam papers quickly.</p>
                </div>
            </div>
            <div class="customer-card">
                <div class="customer-info">
                    <h3>Akash Thakur</h3>
                    <p>Amazing tool! I'm impressed by how user-friendly PaperBilder is for educators.</p>
                </div>
            </div>
            <div class="customer-card">
                <div class="customer-info">
                    <h3>PushPak Patel</h3>
                    <p>Highly recommended! This tool saved me a lot of time in exam paper preparation.</p>
                </div>
            </div>
        </div>
        <div class="row-review row2">
            <div class="customer-card">
                <div class="customer-info">
                    <h3>Abhishek Jaiswal</h3>
                    <p>Impressive results! PaperBilder is a game-changer for educators and instructors.</p>
                </div>
            </div>
            <div class="customer-card">
                <div class="customer-info">
                    <h3>Jaynendra Sharma</h3>
                    <p>Efficient and effective! PaperBilder made exam paper creation a breeze.</p>
                </div>
            </div>
            <div class="customer-card">
                <div class="customer-info">
                    <h3>Chetan Rai</h3>
                    <p>Outstanding tool! I can't imagine going back to traditional paper creation methods.</p>
                </div>
            </div>
        </div>
    </div>

    
    
    
    <footer>
        <div class="copyright">
            <div>
                <p class="copy">&copy; 2023 Padaku Education Solution. All rights received</p>
            </div>
            <div class="social-handlers">
                <i class="bi bi-whatsapp"></i>
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-google"></i>
            </div>
        </div>
    </footer>

    <script>
        const hamburger = document.getElementById('hamburger');
        const menuDiv = document.getElementById('menu-div');

        hamburger.addEventListener('click', () => {            
            menuDiv.classList.toggle('active');
            hamburger.classList.toggle('active');
        });
    </script>
     <script>
        function openForm() {
            var formOverlay = document.getElementById("popupForm");
            formOverlay.style.visibility = "visible";
            formOverlay.style.opacity = "1";
        }

        function closeForm() {
            var formOverlay = document.getElementById("popupForm");
            formOverlay.style.visibility = "hidden";
            formOverlay.style.opacity = "0";
        }
    </script>
    <script>
        $(document).ready(function() {
            $("#loginForm").on("submit", function(event) {
                event.preventDefault();  // Prevent the form from submitting
    
                var form = $(this);
                var formData = form.serialize();
    
                // Send AJAX request
                $.ajax({
                    url: form.attr("action"),
                    type: form.attr("method"),
                    data: formData,
                    headers: {
                                'X-CSRFToken': getCSRFToken()
                            },
                    success: function(response) {
                        if (response.status === "success") {
                            // Redirect to a view after successful login
                            showFormMessage("success", "Login successful!");
                            window.location.href = "{% url 'tool' %}";
                            
                        } else {
                            // Handle error case or show error message
                            showFormMessage("error", "Login failed. Please check your credentials.");
                        }
                    }
                });
            });
            function getCSRFToken() {
            const cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith('csrftoken='))
            .split('=')[1];
        
        return cookieValue;
        }

            function showFormMessage(type, message) {
            var formMessage = $("#formMessage");
            formMessage.text(message);
            formMessage.removeClass().addClass("form-message " + type);
        }
        });

        
    </script>
</body>

</html>