<!-- {%load static%}
<link rel="stylesheet" href="{% static 'login_register.css' %}">
{% block content %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <center>{{ message }}</center>
    {% endfor %}
  </ul>
{% endif %}

{%if page == 'login'%}
<div class="registerContainer">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      <input class="username" placeholder="email" type="email" name="email">
      <input type="password" placeholder="password" name="password">

      <input class="submitBtn" type="submit" value="Login">
    </form>
    <a href="{%url 'register' %}"><button class="submitBtn">Create new account</button></a>
</div>
{%else%}
<div class="registerContainer">
    <h1>Register</h1>
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <div class="error">{{ field.errors }}</div>
        {% endif %}
      </div>    
      {% endfor %}
      <input class="submitBtn" type="submit" value="Login">
  </form>
      <span class="already">Already have an Account</span>
      <a href="{%url 'login' %}">Login</a>
</div>

{%endif%}


{% endblock content %} -->
