{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'paper.css' %}">
    <link rel="stylesheet" href="{% static 'solution.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
    <script>
        function printElement(elementId) {
        const btnSection=document.getElementById('btn-sec');
        btnSection.style.display='none';
        window.print();
        btnSection.style.display='block';
        }
        function generatePDF() {
            const element = document.getElementById('paper-section'); 
            const options = {
                margin:[10,0,0,0],
                autoScale:true,
                filename: 'paper.pdf',
                hyphenate: true,
                html2canvas: { scale: 2, letterRendering: true,},
                jsPDF: { unit: 'mm', format: 'letter', orientation: 'p' }
            };
            
            html2pdf().set(options).from(element).save();

        }
        var paperId = "{{paperId}}";
        function getCSRFToken() {
        const cookieValue = document.cookie
            .split('; ')
            .find(row => row.startsWith('csrftoken='))
            .split('=')[1];
        
        return cookieValue;
        }

        var formData = new FormData();
        function processPDF() {
  
            $.ajax({
                url: '/save_paper/' + paperId + '/',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                headers: {
                            'X-CSRFToken': getCSRFToken()
                    },
                success: function(response) {
                console.log('PDF file saved successfully.');
                },
                error: function(xhr, status, error) {
                console.error('An error occurred while saving the PDF file:', error);
                }
            });
        }
    </script>
</head>

<body>

    <div class="paper-section" id="paper-section">
        {% if papersection %}
        {{papersection|safe}}
        {% else %}
        {{paper.paper_html|safe}}
        {% endif %}
    </div>
    
    <div class="btn-section" id="btn-sec">
    <button  onclick="printElement('paper-section')" class="action" >Print</button>
    <button  onclick="generatePDF()" class="action" >Download Paper</button>
    <button  class="action" ><a href="{% url 'paper-solution' paperId %}">View Solution</a></button>
    </div>


    <div id="paper-solution" style="display: none;">
      {% if paper %}
      {{paper.solution_html|safe}}
      {% else %}
      <h2 class="sol-heading">Paper Solution</h2>
      <div class="paper-heading">
          <div class="text-center">
              <h3>{{form.school_name|upper}}</h3>
          </div>
          <h3>{{form.exam_name|upper}}</h3>


          <div class="heading-top">
              <div>
                  <p>Time: {{form.duration}}:00 Hour</p>
                  <p>Max Marks: {{form.marks}}</p>
              </div>
              <div>
                  <h3>{{form.class_name|upper}} {{form.subject_name|upper}}</h3>
              </div>
              <div>
                  <p>Date: {{form.date}}</p>
                  <p>Roll no:________</p>
              </div>
          </div>
      </div>
      <hr>
      {% for item in allquestion%}
      <div class="only question">
          <span class="serial-number">Question {{item.serialno}}</span>
          <div class="multiple-answer">
              <p id="{{item.id1}}">
                  {% if item.question2 %}
                  (a) {% endif %}
                  {{item.question1}}
              </p>

              {% if item.question2 %}
              <span class="or">OR</span>
              <p id="{{item.id2}}">
                  (b) {{item.question2}}
              </p>
              {% endif %}
          </div>
          <span class="marks">{{item.marks}}</span>
      </div>
      <div class="question answer">
          <span class="serial-number">Answer:</span>
          <div class="multiple-answer">
              <p>
                  {% if item.answer2 %}
                  (a)
                  {% endif %}
                  {{item.answer1}}
              </p>
              {% if item.answer2 %}
              <span class="or">OR</span>

              <p> (b) {{item.answer2}} </p>
              {% endif %}
          </div>
      </div>
      {% endfor %}
      {%endif%}
    </div>

    <script>
       
        $('div.question').each(function() {
        var questionDiv = $(this);
        var pTag = questionDiv.find('p');
        var ulTag = questionDiv.find('.optionHolder');
        
        // Move ulTag inside pTag
        ulTag.appendTo(pTag);
        
        // Remove ulTag from previous place
        ulTag.remove();
        });




        const element = document.getElementById('paper-section'); 
        const solutionelement = document.getElementById('paper-solution').innerHTML; 
        formData.append('solution_html', solutionelement);
            const options = {
                margin:[10,0,0,0],
                autoScale:true,
                filename: 'paper.pdf',
                hyphenate: true,
                html2canvas: { scale: 2, letterRendering: true,},
                jsPDF: { unit: 'mm', format: 'letter', orientation: 'p' }
            };
            
            html2pdf()
            .set(options)
            .from(element)
            .outputPdf('blob')
            .then((pdfBlob) => {
            console.log('Paper size:', pdfBlob.size);
            formData.append('pdf_file', pdfBlob, 'paper.pdf');
            })
            .catch((error) => {
            console.error('An error occurred while generating the PDF:', error);
            });

            const option2 = {
                margin:[10,0,0,0],
                autoScale:true,
                filename: 'solution.pdf',
                hyphenate: true,
                html2canvas: { scale: 2, letterRendering: true,},
                jsPDF: { unit: 'mm', format: 'letter', orientation: 'p' }
            };
            
            html2pdf()
            .set(option2)
            .from(solutionelement)
            .outputPdf('blob')
            .then((pdfBlob) => {
            console.log('Solution size:', pdfBlob.size);
            formData.append('pdf_file2', pdfBlob, 'solution.pdf');
            processPDF();

            })
            .catch((error) => {
            console.error('An error occurred while generating the PDF:', error);
            });

    </script>
</body>

</html>

