{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'solution.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.0.5/jspdf.plugin.autotable.js"></script>
    <title>Solution</title>
    <script>
        function generatePDF() {
            const element = document.getElementById('paper-solution');
            const options = {
                margin: [10, 0, 0, 0],
                autoScale: true,
                filename: 'paper_solution.pdf',
                hyphenate: true,
                html2canvas: { scale: 2, letterRendering: true, },
                jsPDF: { unit: 'mm', format: 'letter', orientation: 'p' }
            };

            html2pdf().set(options).from(element).save();

        }
    </script>
</head>

<body>
    <div class="paper-solution" id="paper-solution">
        {% if paper %}
        {{paper.solution_html|safe}}
        {% endif%}
    </div>

    <button  onclick="generatePDF()" class="action" >Download Solution</button>

</body>

</html>